*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.container-navbar{
    width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
    padding: 1rem;
}
nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
nav input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    font-size: 1rem;
}
.container-weather{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}
.card{
    display: flex;
    flex-direction: column;
    padding:10px;
    width: 200px;
}
.card-img{
    width: 100%;
    display: flex;
}
.card-img i{
 margin: auto;
 font-size: 2rem;
}
.card-body{
    padding: 0;
}
.cont-temps{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.title-city{
    display: block;
    font-size: 1rem;
}
